	/*=========================================================
Author       : Mealberg.
Template Name: Mealberg - Restaurant HTML5 Template
Version      : 1.0
==============================================================*/

/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, overlay, section-padding etc)
    02. HEADER DESIGN
	
*=============================================================*/


/*===================================*
    01. GENERAL STYLE
*===================================*/


html {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #555;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 1, 0.35, 1) 0s;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.35, 1) 0s;
}

a:focus,
a:active,
a:hover {
    text-decoration: none;
    color: #E28512;
    outline: none;
}

body,
button,
input,
select,
textarea {
    color: #555;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

button:focus{
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    line-height: 1;
    font-family: 'Satisfy', cursive;
    color: #B9222B;
    margin-bottom: 25px;
}

h2 {
    font-size: 48px;
    line-height: 1;
    color: #B9222B;
    font-family: 'Satisfy', cursive;
}

h3 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

h4 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

p {
    font-size: 16px;
    margin: 0px;
    color: #555;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #B0B0B0;
    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder {
    color: #B0B0B0;
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
    color: #B0B0B0;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #B0B0B0;
    font-family: 'Roboto', sans-serif;
}

.pos-relative{
    position: relative;
}

.section-padding{
    padding: 100px 0;
}

.section-title{
    width: 100%;
}
.section-title p{
    margin-bottom: 20px;
}
.section-content{
    max-width: 350px;
}

.mb-50{
    margin-bottom: 50px;
}

.custom-btn{
    font-weight: 700;
    color: #B8212A;
    border: 2px solid #E28512;
    font-size: 18px;
    border-radius: 0px;
    line-height: 26px;
    background: transparent;
    padding: 12px 45px;
    outline: none;
}

.custom-btn:hover{
    background: #B8212A;
    border-color: #B8212A;
    color: #fff;
}

.play-btn{
    position: absolute;
    bottom: 16px;
    left: 16px;
    background-color: rgba(252, 252,252, .7);
    z-index: 9;
    padding: 23px;
    font-size: 20px;
    border-radius: 50%;
    color: #4EA200;
    transition:.6s ease;
}

.play-btn:hover {
    background-color: rgba(255,255,255,1);
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.dotted-horizontal {
    position: absolute;
    bottom: -100px;
    right: 100px;
}
.dotted-vertical{
    position: absolute;
    width: 100%;
    text-align: center;
    top: -35px;
    z-index: -1;
}
.section-images{
    padding: 0;
    margin: 0;
}

.section-images .left-img{
    position: relative;
}
.section-images .right-img{
    position: absolute;
    right: 0;
    bottom: -115px;
}

.section-images .alt .left-img{
    position: relative;
    bottom: -115px;
}
.section-images .alt .right-img{
    position: absolute;
    right: 0;
    top: 0;
}

.order a {
    color: #E28512;
}

.order a i {
    margin-left: 6px;
    font-size: 16px;
    color: #E28512;
}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
