@media only screen and (max-width: 991px) {
    
    /*===================================*
        01. HEADER DESIGN
    *===================================*/
    .navbar-brand img {
        max-width: 70px;
    }

    .navbar-brand {
        max-width: 100px;
        padding: 5px 0px;
    }
    .nav-item{
        margin-right: 0;
    }
    .nav-item a{
        font-size: 12px;
    }
    .navbar{
        width: 90%;
    }
    
    .header-right{
        width: 10%;
    }
    
    .header-right ul li{
        margin: 0px 6px;
    }
    .header-right img{
        height: 16px;
    }
}

@media only screen and (max-width: 768px) {
    
    /*===================================*
        01. HEADER DESIGN
    *===================================*/
    
    .navbar, .header-right {
        width: 100%;
    }

    .header-right {
        position: absolute;
        top: 15px;
        right: 50px;
        width: auto;
    }

    .header-inner {
        padding-right: 6px;
    }

    .header-inner .row {
        position: relative;
    }

    .navbar-light .navbar-toggler {
        border: none;
    }
    .ham-menu {
        max-width: 20px;
        outline: none;
    }
    
    .nav-item a:after {
    display: none;
    }

    .nav-item {
        border-bottom: 1px solid rgba(230,153,64,.2);
        padding-left: 15px;
    }
    .navbar-collapse {
        transition: all .3s cubic-bezier(.23, 1, .32, 1);
    }
    
    /*===================================*
        02. BANNER DESIGN
    *===================================*/
    
    .section-img{
        order: -1;
        padding: 0;
        margin: 0;
    }
    
    .banner-background-dotted{
        display: none;
    }
    .dotted-horizontal {
        display: none;
    }
    .dotted-vertical{
        display: none;
    }
    .section-images .left-img {
        position: relative;
        width: 100%;
    }
    .section-images .right-img{
        display: none;
    }


}

@media only screen and (max-width: 576px) {
    
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}
